<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/anubhuti.anand/Downloads/Cop-Jenkins">
        <classes>
            <class name="jenkinsTests.JenkinsOneTests">
                <methods>
                    <include name="FirstTest"/>
                    <include name="SecondTest"/>
                    <include name="ThirdTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>